In [1]:
import pymongo
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from pymongo import MongoClient

In [2]:
# Connection URI
client = MongoClient('mongodb+srv://project_user:qsdapUweFvhdbouy@cluster0.l3pqt.mongodb.net/MSA?retryWrites=true&w=majority')
# Select database
db = client['MSA']
# Select the collection within the database (in this case its GDP_raw data, check list below for other collections)
employment = db.employment_clean
# Convert entire collection to Pandas dataframe
df = pd.DataFrame(list(employment.find()))
df

,_id,CBSA_Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,602f348f49cb40e7547bab9c,10180,89511,90338,91132,91998,92937,94097,96484,99264,...,96809,98193,99843,101199,102316,102611,102601,102786,104536,107405
1,602f348f49cb40e7547bab9d,10420,396954,396663,396391,404591,412097,417595,424012,424079,...,402554,407811,412049,414502,421225,426047,427394,428034,430261,433800
2,602f348f49cb40e7547bab9e,10500,78011,77100,78282,78126,80177,80621,81153,80663,...,77793,79189,79388,79694,80577,81418,81714,81872,82431,83286
3,602f348f49cb40e7547bab9f,10540,54749,54136,53710,54697,57088,58162,59546,59473,...,55562,55341,55676,56161,57670,58997,59661,61777,63422,64277
4,602f348f49cb40e7547baba0,10580,516432,514437,518106,524002,530740,534257,540904,543929,...,528095,531541,537634,543162,548362,556276,563056,569909,575772,579135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,602f348f49cb40e7547bad17,49420,112685,112734,114189,113223,114927,117779,118536,121722,...,119123,120041,124847,125387,127305,128600,130601,132743,134982,136556
380,602f348f49cb40e7547bad18,49620,211514,211138,211658,217006,223488,226836,231790,232142,...,221987,224717,225936,227264,229563,231735,235643,237721,240494,243152
381,602f348f49cb40e7547bad19,49660,311150,305452,302591,301803,303520,302814,301433,295953,...,280982,285225,287302,287503,287915,287937,288202,284315,284853,283700
382,602f348f49cb40e7547bad1a,49700,61499,62404,62573,63898,64648,66167,67736,65442,...,62526,62563,63966,65465,66816,68645,69903,71388,73096,75581
383,602f348f49cb40e7547bad1b,49740,70656,72784,74549,78518,80808,83776,85115,83665,...,79901,80988,82389,83070,83664,85800,88674,88293,89875,91296

In [3]:
# drop _id column
df.drop(columns ='_id', inplace=True)

# # rearrange columns
# df = df[['GeoFips', 'GeoName', '2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015', '2016', '2017', '2018', '2019']]

# df

In [4]:
df.dtypes

CBSA_Code    object
2001         object
2002         object
2003         object
2004         object
2005         object
2006         object
2007         object
2008         object
2009         object
2010         object
2011         object
2012         object
2013         object
2014         object
2015         object
2016         object
2017         object
2018         object
2019         object
dtype: object

In [5]:
# change values in years columns to float
df[['2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015', '2016', '2017', '2018', '2019']]= df[['2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019']].apply(pd.to_numeric)
df.dtypes

CBSA_Code    object
2001          int64
2002          int64
2003          int64
2004          int64
2005          int64
2006          int64
2007          int64
2008          int64
2009          int64
2010          int64
2011          int64
2012          int64
2013          int64
2014          int64
2015          int64
2016          int64
2017          int64
2018          int64
2019          int64
dtype: object

In [6]:
# instantiate linearRegression
model = LinearRegression()

In [7]:
df

,CBSA_Code,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,10180,89511,90338,91132,91998,92937,94097,96484,99264,97269,96809,98193,99843,101199,102316,102611,102601,102786,104536,107405
1,10420,396954,396663,396391,404591,412097,417595,424012,424079,404521,402554,407811,412049,414502,421225,426047,427394,428034,430261,433800
2,10500,78011,77100,78282,78126,80177,80621,81153,80663,78714,77793,79189,79388,79694,80577,81418,81714,81872,82431,83286
3,10540,54749,54136,53710,54697,57088,58162,59546,59473,56122,55562,55341,55676,56161,57670,58997,59661,61777,63422,64277
4,10580,516432,514437,518106,524002,530740,534257,540904,543929,535314,528095,531541,537634,543162,548362,556276,563056,569909,575772,579135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,49420,112685,112734,114189,113223,114927,117779,118536,121722,120007,119123,120041,124847,125387,127305,128600,130601,132743,134982,136556
380,49620,211514,211138,211658,217006,223488,226836,231790,232142,223008,221987,224717,225936,227264,229563,231735,235643,237721,240494,243152
381,49660,311150,305452,302591,301803,303520,302814,301433,295953,280869,280982,285225,287302,287503,287915,287937,288202,284315,284853,283700
382,49700,61499,62404,62573,63898,64648,66167,67736,65442,63426,62526,62563,63966,65465,66816,68645,69903,71388,73096,75581
383,49740,70656,72784,74549,78518,80808,83776,85115,83665,79960,79901,80988,82389,83070,83664,85800,88674,88293,89875,91296

In [14]:
predictions = []
for i in range(0,384):
    x = [[2001],[2002],[2003],[2004],[2005],[2006],[2007],[2008],[2009],[2010],[2011],[2012],[2013],[2014],[2015],[2016],[2017],[2018],[2019]]
    y = df.iloc[i, 1:].values
    model.fit(x,y)
    y_pred = model.predict([[2024]])
    predictions.append(y_pred)
flat_list = [item for sublist in predictions for item in sublist]
df['prediction_2024'] = flat_list
df

,CBSA_Code,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,prediction_2024
0,10180,89511,90338,91132,91998,92937,94097,96484,99264,97269,...,98193,99843,101199,102316,102611,102601,102786,104536,107405,110670.273684
1,10420,396954,396663,396391,404591,412097,417595,424012,424079,404521,...,407811,412049,414502,421225,426047,427394,428034,430261,433800,439173.715789
2,10500,78011,77100,78282,78126,80177,80621,81153,80663,78714,...,79189,79388,79694,80577,81418,81714,81872,82431,83286,83360.143860
3,10540,54749,54136,53710,54697,57088,58162,59546,59473,56122,...,55341,55676,56161,57670,58997,59661,61777,63422,64277,63476.438596
4,10580,516432,514437,518106,524002,530740,534257,540904,543929,535314,...,531541,537634,543162,548362,556276,563056,569909,575772,579135,586495.389474
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,49420,112685,112734,114189,113223,114927,117779,118536,121722,120007,...,120041,124847,125387,127305,128600,130601,132743,134982,136556,141093.789474
380,49620,211514,211138,211658,217006,223488,226836,231790,232142,223008,...,224717,225936,227264,229563,231735,235643,237721,240494,243152,247346.964912
381,49660,311150,305452,302591,301803,303520,302814,301433,295953,280869,...,285225,287302,287503,287915,287937,288202,284315,284853,283700,272832.968421
382,49700,61499,62404,62573,63898,64648,66167,67736,65442,63426,...,62563,63966,65465,66816,68645,69903,71388,73096,75581,74104.785965
383,49740,70656,72784,74549,78518,80808,83776,85115,83665,79960,...,80988,82389,83070,83664,85800,88674,88293,89875,91296,94498.631579

In [15]:
df['2024_ROC'] = (df['prediction_2024']-df['2019'])/df['2019']*100
df

,CBSA_Code,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,prediction_2024,2024_ROC
0,10180,89511,90338,91132,91998,92937,94097,96484,99264,97269,...,99843,101199,102316,102611,102601,102786,104536,107405,110670.273684,3.040151
1,10420,396954,396663,396391,404591,412097,417595,424012,424079,404521,...,412049,414502,421225,426047,427394,428034,430261,433800,439173.715789,1.238754
2,10500,78011,77100,78282,78126,80177,80621,81153,80663,78714,...,79388,79694,80577,81418,81714,81872,82431,83286,83360.143860,0.089023
3,10540,54749,54136,53710,54697,57088,58162,59546,59473,56122,...,55676,56161,57670,58997,59661,61777,63422,64277,63476.438596,-1.245487
4,10580,516432,514437,518106,524002,530740,534257,540904,543929,535314,...,537634,543162,548362,556276,563056,569909,575772,579135,586495.389474,1.270928
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,49420,112685,112734,114189,113223,114927,117779,118536,121722,120007,...,124847,125387,127305,128600,130601,132743,134982,136556,141093.789474,3.323025
380,49620,211514,211138,211658,217006,223488,226836,231790,232142,223008,...,225936,227264,229563,231735,235643,237721,240494,243152,247346.964912,1.725244
381,49660,311150,305452,302591,301803,303520,302814,301433,295953,280869,...,287302,287503,287915,287937,288202,284315,284853,283700,272832.968421,-3.830466
382,49700,61499,62404,62573,63898,64648,66167,67736,65442,63426,...,63966,65465,66816,68645,69903,71388,73096,75581,74104.785965,-1.953155
383,49740,70656,72784,74549,78518,80808,83776,85115,83665,79960,...,82389,83070,83664,85800,88674,88293,89875,91296,94498.631579,3.507965

In [16]:
df['2024_Rank'] = df['2024_ROC'].rank(ascending = False)
df

,CBSA_Code,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2013,2014,2015,2016,2017,2018,2019,prediction_2024,2024_ROC,2024_Rank
0,10180,89511,90338,91132,91998,92937,94097,96484,99264,97269,...,101199,102316,102611,102601,102786,104536,107405,110670.273684,3.040151,134.0
1,10420,396954,396663,396391,404591,412097,417595,424012,424079,404521,...,414502,421225,426047,427394,428034,430261,433800,439173.715789,1.238754,214.0
2,10500,78011,77100,78282,78126,80177,80621,81153,80663,78714,...,79694,80577,81418,81714,81872,82431,83286,83360.143860,0.089023,260.0
3,10540,54749,54136,53710,54697,57088,58162,59546,59473,56122,...,56161,57670,58997,59661,61777,63422,64277,63476.438596,-1.245487,312.0
4,10580,516432,514437,518106,524002,530740,534257,540904,543929,535314,...,543162,548362,556276,563056,569909,575772,579135,586495.389474,1.270928,211.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,49420,112685,112734,114189,113223,114927,117779,118536,121722,120007,...,125387,127305,128600,130601,132743,134982,136556,141093.789474,3.323025,122.0
380,49620,211514,211138,211658,217006,223488,226836,231790,232142,223008,...,227264,229563,231735,235643,237721,240494,243152,247346.964912,1.725244,194.0
381,49660,311150,305452,302591,301803,303520,302814,301433,295953,280869,...,287503,287915,287937,288202,284315,284853,283700,272832.968421,-3.830466,358.0
382,49700,61499,62404,62573,63898,64648,66167,67736,65442,63426,...,65465,66816,68645,69903,71388,73096,75581,74104.785965,-1.953155,330.0
383,49740,70656,72784,74549,78518,80808,83776,85115,83665,79960,...,83070,83664,85800,88674,88293,89875,91296,94498.631579,3.507965,112.0

In [18]:
employment_prediction = df[['CBSA_Code','2024_ROC','2024_Rank']].copy()
employment_prediction

    CBSA_Code  2024_ROC  2024_Rank
0       10180  3.040151      134.0
1       10420  1.238754      214.0
2       10500  0.089023      260.0
3       10540 -1.245487      312.0
4       10580  1.270928      211.0
..        ...       ...        ...
379     49420  3.323025      122.0
380     49620  1.725244      194.0
381     49660 -3.830466      358.0
382     49700 -1.953155      330.0
383     49740  3.507965      112.0

[384 rows x 3 columns]

In [19]:
# export employment clean dataframe back to mongo
employment_prediction_collection = db.employment_prediction

In [20]:
df_dict = employment_prediction.to_dict(orient = 'records')

In [21]:
employment_prediction_collection.insert_many(df_dict)

In [22]:
client.MSA.collection_names()

C:\Users\andre\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  """Entry point for launching an IPython kernel.

['employment_prediction',
 'employment_clean',
 'GDP_raw',
 'employment_raw',
 'msa_codes',
 'unemployment_predicted_2024',
 'population_raw',
 'unemployment_clean',
 'unemployment_raw']