In [1]:
import pymongo
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from pymongo import MongoClient

In [2]:
# Connection URI
client = MongoClient('mongodb+srv://project_user:qsdapUweFvhdbouy@cluster0.l3pqt.mongodb.net/MSA?retryWrites=true&w=majority')
# Select database
db = client['MSA']
# Select the collection within the database (in this case its GDP_raw data, check list below for other collections)
employment = db.employment_raw
# Convert entire collection to Pandas dataframe
df = pd.DataFrame(list(employment.find()))
df

,_id,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,GeoFips,GeoName
0,602cbb2ed9e65148e4b7ce1b,142876022,142590402,143452007,146128722,149308196,152553091,155904064,155704073,150901632,...,155994342,159160185,162856760,166858877,169925930,172857088,176625835,179929128,998,United States (Metropolitan Portion)
1,602cbb2ed9e65148e4b7ce1c,89511,90338,91132,91998,92937,94097,96484,99264,97269,...,99843,101199,102316,102611,102601,102786,104536,107405,10180,"Abilene, TX (Metropolitan Statistical Area)"
2,602cbb2ed9e65148e4b7ce1d,396954,396663,396391,404591,412097,417595,424012,424079,404521,...,412049,414502,421225,426047,427394,428034,430261,433800,10420,"Akron, OH (Metropolitan Statistical Area)"
3,602cbb2ed9e65148e4b7ce1e,78011,77100,78282,78126,80177,80621,81153,80663,78714,...,79388,79694,80577,81418,81714,81872,82431,83286,10500,"Albany, GA (Metropolitan Statistical Area)"
4,602cbb2ed9e65148e4b7ce1f,54749,54136,53710,54697,57088,58162,59546,59473,56122,...,55676,56161,57670,58997,59661,61777,63422,64277,10540,"Albany-Lebanon, OR (Metropolitan Statistical A..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,602cbb2ed9e65148e4b7cf97,112685,112734,114189,113223,114927,117779,118536,121722,120007,...,124847,125387,127305,128600,130601,132743,134982,136556,49420,"Yakima, WA (Metropolitan Statistical Area)"
381,602cbb2ed9e65148e4b7cf98,211514,211138,211658,217006,223488,226836,231790,232142,223008,...,225936,227264,229563,231735,235643,237721,240494,243152,49620,"York-Hanover, PA (Metropolitan Statistical Area)"
382,602cbb2ed9e65148e4b7cf99,311150,305452,302591,301803,303520,302814,301433,295953,280869,...,287302,287503,287915,287937,288202,284315,284853,283700,49660,"Youngstown-Warren-Boardman, OH-PA (Metropolita..."
383,602cbb2ed9e65148e4b7cf9a,61499,62404,62573,63898,64648,66167,67736,65442,63426,...,63966,65465,66816,68645,69903,71388,73096,75581,49700,"Yuba City, CA (Metropolitan Statistical Area)"
384,602cbb2ed9e65148e4b7cf9b,70656,72784,74549,78518,80808,83776,85115,83665,79960,...,82389,83070,83664,85800,88674,88293,89875,91296,49740,"Yuma, AZ (Metropolitan Statistical Area)"

In [3]:
# drop _id column
df.drop(columns ='_id', inplace=True)

# rearrange columns
df = df[['GeoFips', 'GeoName', '2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015', '2016', '2017', '2018', '2019']]

df

,GeoFips,GeoName,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,998,United States (Metropolitan Portion),142876022,142590402,143452007,146128722,149308196,152553091,155904064,155704073,...,150313128,153263708,155994342,159160185,162856760,166858877,169925930,172857088,176625835,179929128
1,10180,"Abilene, TX (Metropolitan Statistical Area)",89511,90338,91132,91998,92937,94097,96484,99264,...,96809,98193,99843,101199,102316,102611,102601,102786,104536,107405
2,10420,"Akron, OH (Metropolitan Statistical Area)",396954,396663,396391,404591,412097,417595,424012,424079,...,402554,407811,412049,414502,421225,426047,427394,428034,430261,433800
3,10500,"Albany, GA (Metropolitan Statistical Area)",78011,77100,78282,78126,80177,80621,81153,80663,...,77793,79189,79388,79694,80577,81418,81714,81872,82431,83286
4,10540,"Albany-Lebanon, OR (Metropolitan Statistical A...",54749,54136,53710,54697,57088,58162,59546,59473,...,55562,55341,55676,56161,57670,58997,59661,61777,63422,64277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,49420,"Yakima, WA (Metropolitan Statistical Area)",112685,112734,114189,113223,114927,117779,118536,121722,...,119123,120041,124847,125387,127305,128600,130601,132743,134982,136556
381,49620,"York-Hanover, PA (Metropolitan Statistical Area)",211514,211138,211658,217006,223488,226836,231790,232142,...,221987,224717,225936,227264,229563,231735,235643,237721,240494,243152
382,49660,"Youngstown-Warren-Boardman, OH-PA (Metropolita...",311150,305452,302591,301803,303520,302814,301433,295953,...,280982,285225,287302,287503,287915,287937,288202,284315,284853,283700
383,49700,"Yuba City, CA (Metropolitan Statistical Area)",61499,62404,62573,63898,64648,66167,67736,65442,...,62526,62563,63966,65465,66816,68645,69903,71388,73096,75581
384,49740,"Yuma, AZ (Metropolitan Statistical Area)",70656,72784,74549,78518,80808,83776,85115,83665,...,79901,80988,82389,83070,83664,85800,88674,88293,89875,91296

In [4]:
df.dtypes

GeoFips    object
GeoName    object
2001       object
2002       object
2003       object
2004       object
2005       object
2006       object
2007       object
2008       object
2009       object
2010       object
2011       object
2012       object
2013       object
2014       object
2015       object
2016       object
2017       object
2018       object
2019       object
dtype: object

In [5]:
# change values in years columns to float
df[['2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015', '2016', '2017', '2018', '2019']]= df[['2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019']].apply(pd.to_numeric)
df.dtypes

GeoFips    object
GeoName    object
2001        int64
2002        int64
2003        int64
2004        int64
2005        int64
2006        int64
2007        int64
2008        int64
2009        int64
2010        int64
2011        int64
2012        int64
2013        int64
2014        int64
2015        int64
2016        int64
2017        int64
2018        int64
2019        int64
dtype: object

In [11]:
# instantiate linearRegression
model = LinearRegression()

In [12]:
predictions = []
for i in range(0,385):
    x = [[2001],[2002],[2003],[2004],[2005],[2006],[2007],[2008],[2009],[2010],[2011],[2012],[2013],[2014],[2015],[2016],[2017],[2018]]
    y = df.iloc[i, 2:20].values
    model.fit(x,y)
    y_pred = model.predict([[2019]])
    predictions.append(y_pred)
flat_list = [item for sublist in predictions for item in sublist]
df['prediction_2019'] = flat_list
df

,GeoFips,GeoName,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,prediction_2019
0,998,United States (Metropolitan Portion),142876022,142590402,143452007,146128722,149308196,152553091,155904064,155704073,...,153263708,155994342,159160185,162856760,166858877,169925930,172857088,176625835,179929128,1.732211e+08
1,10180,"Abilene, TX (Metropolitan Statistical Area)",89511,90338,91132,91998,92937,94097,96484,99264,...,98193,99843,101199,102316,102611,102601,102786,104536,107405,1.058248e+05
2,10420,"Akron, OH (Metropolitan Statistical Area)",396954,396663,396391,404591,412097,417595,424012,424079,...,407811,412049,414502,421225,426047,427394,428034,430261,433800,4.296488e+05
3,10500,"Albany, GA (Metropolitan Statistical Area)",78011,77100,78282,78126,80177,80621,81153,80663,...,79189,79388,79694,80577,81418,81714,81872,82431,83286,8.189269e+04
4,10540,"Albany-Lebanon, OR (Metropolitan Statistical A...",54749,54136,53710,54697,57088,58162,59546,59473,...,55341,55676,56161,57670,58997,59661,61777,63422,64277,6.071922e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,49420,"Yakima, WA (Metropolitan Statistical Area)",112685,112734,114189,113223,114927,117779,118536,121722,...,120041,124847,125387,127305,128600,130601,132743,134982,136556,1.339093e+05
381,49620,"York-Hanover, PA (Metropolitan Statistical Area)",211514,211138,211658,217006,223488,226836,231790,232142,...,224717,225936,227264,229563,231735,235643,237721,240494,243152,2.391924e+05
382,49660,"Youngstown-Warren-Boardman, OH-PA (Metropolita...",311150,305452,302591,301803,303520,302814,301433,295953,...,285225,287302,287503,287915,287937,288202,284315,284853,283700,2.790680e+05
383,49700,"Yuba City, CA (Metropolitan Statistical Area)",61499,62404,62573,63898,64648,66167,67736,65442,...,62563,63966,65465,66816,68645,69903,71388,73096,75581,7.024058e+04
384,49740,"Yuma, AZ (Metropolitan Statistical Area)",70656,72784,74549,78518,80808,83776,85115,83665,...,80988,82389,83070,83664,85800,88674,88293,89875,91296,8.986479e+04

In [13]:
# create new dataframe to hold actual 2019 and predicted 2019 values
df_accuracy = df[['2019']].copy()
df_accuracy['Predicted_2019'] = flat_list
df_accuracy

          2019  Predicted_2019
0    179929128    1.732211e+08
1       107405    1.058248e+05
2       433800    4.296488e+05
3        83286    8.189269e+04
4        64277    6.071922e+04
..         ...             ...
380     136556    1.339093e+05
381     243152    2.391924e+05
382     283700    2.790680e+05
383      75581    7.024058e+04
384      91296    8.986479e+04

[385 rows x 2 columns]

In [14]:
# calculate percent error for each linear regression
df_accuracy['Percent_Error'] = (df_accuracy['2019'] - df_accuracy['Predicted_2019'])/df_accuracy['2019']*100

# set values to absolute in percent_error column
df_accuracy['Percent_Error'] = df_accuracy['Percent_Error'].abs()

# print mean of a percent_error
mean_percent_error = df_accuracy['Percent_Error'].mean()
print(f'Average percent error for linear regression predicting 2019 raw employment numbers is: {round(mean_percent_error,3)}%' )
df_accuracy

Average percent error for linear regression predicting 2019 raw employment numbers is: 3.198%

          2019  Predicted_2019  Percent_Error
0    179929128    1.732211e+08       3.728137
1       107405    1.058248e+05       1.471207
2       433800    4.296488e+05       0.956947
3        83286    8.189269e+04       1.672919
4        64277    6.071922e+04       5.535071
..         ...             ...            ...
380     136556    1.339093e+05       1.938179
381     243152    2.391924e+05       1.628436
382     283700    2.790680e+05       1.632699
383      75581    7.024058e+04       7.065821
384      91296    8.986479e+04       1.567658

[385 rows x 3 columns]

In [16]:
# create dataframe to store back into mongo with predictions and rank
employment_clean = df[['GeoFips', 'GeoName', 'prediction_2024']].copy()

employment_clean['Rank'] = df['prediction_2024'].rank()

employment_clean

,GeoFips,GeoName,prediction_2024,Rank
0,998,United States (Metropolitan Portion),1.841420e+08,385.0
1,10180,"Abilene, TX (Metropolitan Statistical Area)",1.106703e+05,150.0
2,10420,"Akron, OH (Metropolitan Statistical Area)",4.391737e+05,303.0
3,10500,"Albany, GA (Metropolitan Statistical Area)",8.336014e+04,103.0
4,10540,"Albany-Lebanon, OR (Metropolitan Statistical A...",6.347644e+04,49.0
...,...,...,...,...
380,49420,"Yakima, WA (Metropolitan Statistical Area)",1.410938e+05,182.0
381,49620,"York-Hanover, PA (Metropolitan Statistical Area)",2.473470e+05,253.0
382,49660,"Youngstown-Warren-Boardman, OH-PA (Metropolita...",2.728330e+05,267.0
383,49700,"Yuba City, CA (Metropolitan Statistical Area)",7.410479e+04,76.0
384,49740,"Yuma, AZ (Metropolitan Statistical Area)",9.449863e+04,124.0

In [17]:
employment_clean.drop([0],inplace =True)
employment_clean

,GeoFips,GeoName,prediction_2024,Rank
1,10180,"Abilene, TX (Metropolitan Statistical Area)",110670.273684,150.0
2,10420,"Akron, OH (Metropolitan Statistical Area)",439173.715789,303.0
3,10500,"Albany, GA (Metropolitan Statistical Area)",83360.143860,103.0
4,10540,"Albany-Lebanon, OR (Metropolitan Statistical A...",63476.438596,49.0
5,10580,"Albany-Schenectady-Troy, NY (Metropolitan Stat...",586495.389474,328.0
...,...,...,...,...
380,49420,"Yakima, WA (Metropolitan Statistical Area)",141093.789474,182.0
381,49620,"York-Hanover, PA (Metropolitan Statistical Area)",247346.964912,253.0
382,49660,"Youngstown-Warren-Boardman, OH-PA (Metropolita...",272832.968421,267.0
383,49700,"Yuba City, CA (Metropolitan Statistical Area)",74104.785965,76.0
384,49740,"Yuma, AZ (Metropolitan Statistical Area)",94498.631579,124.0

In [ ]:
# export unemployment clean dataframe back to mongo