In [21]:
import plotly.graph_objects as go
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [22]:
model = LinearRegression()

In [23]:
population_df = pd.read_csv('population_regions.csv')
population_df

,CBSA,NAME,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,10180,"Abilene, TX",0.2,0.6,0.5,0.0,0.5,0.8,0.2,0.2,0.4,0.5
1,10420,"Akron, OH",-0.0,0.0,-0.2,0.2,0.2,-0.1,-0.1,0.1,-0.0,-0.1
2,10500,"Albany, GA",0.1,0.3,-0.4,-0.9,-0.5,-1.0,-0.8,-0.7,-0.2,-0.8
3,10540,"Albany-Lebanon, OR",0.2,1.1,0.1,0.1,0.5,1.0,2.1,1.8,1.9,1.8
4,10580,"Albany-Schenectady-Troy, NY",0.0,0.2,0.2,0.3,0.1,0.1,0.1,0.3,0.0,-0.2
...,...,...,...,...,...,...,...,...,...,...,...,...
379,49420,"Yakima, WA",0.4,0.7,0.1,0.1,0.2,0.4,0.6,0.2,0.3,0.1
380,49620,"York-Hanover, PA",0.1,0.3,0.2,0.3,0.4,0.3,0.4,0.4,0.5,0.3
381,49660,"Youngstown-Warren-Boardman, OH-PA",-0.2,-0.4,-0.7,-0.5,-0.5,-0.8,-0.8,-0.6,-0.6,-0.4
382,49700,"Yuba City, CA",0.1,-0.1,-0.0,0.4,0.4,0.6,0.8,1.2,0.6,1.0
383,49740,"Yuma, AZ",0.7,2.8,-0.2,-0.0,0.8,0.6,1.0,1.1,1.0,1.0

In [24]:
population_df.dtypes

CBSA      int64
NAME     object
2010    float64
2011    float64
2012    float64
2013    float64
2014    float64
2015    float64
2016    float64
2017    float64
2018    float64
2019    float64
dtype: object

In [25]:
predictions = []
for i in range(0,384):
    x = [[2010],[2011],[2012],[2013],[2014],[2015],[2016],[2017],[2018],[2019]]
    y = population_df.iloc[i, 2:].values
    model.fit(x,y)
    y_pred = model.predict([[2024]])
    predictions.append(y_pred)
flat_list = [item for sublist in predictions for item in sublist]
population_df['prediction_2024'] = flat_list
population_df

,CBSA,NAME,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,prediction_2024
0,10180,"Abilene, TX",0.2,0.6,0.5,0.0,0.5,0.8,0.2,0.2,0.4,0.5,0.430303
1,10420,"Akron, OH",-0.0,0.0,-0.2,0.2,0.2,-0.1,-0.1,0.1,-0.0,-0.1,-0.034545
2,10500,"Albany, GA",0.1,0.3,-0.4,-0.9,-0.5,-1.0,-0.8,-0.7,-0.2,-0.8,-1.255758
3,10540,"Albany-Lebanon, OR",0.2,1.1,0.1,0.1,0.5,1.0,2.1,1.8,1.9,1.8,3.075152
4,10580,"Albany-Schenectady-Troy, NY",0.0,0.2,0.2,0.3,0.1,0.1,0.1,0.3,0.0,-0.2,-0.080000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,49420,"Yakima, WA",0.4,0.7,0.1,0.1,0.2,0.4,0.6,0.2,0.3,0.1,0.120000
380,49620,"York-Hanover, PA",0.1,0.3,0.2,0.3,0.4,0.3,0.4,0.4,0.5,0.3,0.573333
381,49660,"Youngstown-Warren-Boardman, OH-PA",-0.2,-0.4,-0.7,-0.5,-0.5,-0.8,-0.8,-0.6,-0.6,-0.4,-0.774545
382,49700,"Yuba City, CA",0.1,-0.1,-0.0,0.4,0.4,0.6,0.8,1.2,0.6,1.0,1.674545
383,49740,"Yuma, AZ",0.7,2.8,-0.2,-0.0,0.8,0.6,1.0,1.1,1.0,1.0,0.845455

In [26]:
#calculate rate of change
population_df['prediction_2024'] = (((population_df['prediction_2024'] - population_df['2019']) / population_df['2019'])*100).round(1)
population_df

,CBSA,NAME,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,prediction_2024
0,10180,"Abilene, TX",0.2,0.6,0.5,0.0,0.5,0.8,0.2,0.2,0.4,0.5,-13.9
1,10420,"Akron, OH",-0.0,0.0,-0.2,0.2,0.2,-0.1,-0.1,0.1,-0.0,-0.1,-65.5
2,10500,"Albany, GA",0.1,0.3,-0.4,-0.9,-0.5,-1.0,-0.8,-0.7,-0.2,-0.8,57.0
3,10540,"Albany-Lebanon, OR",0.2,1.1,0.1,0.1,0.5,1.0,2.1,1.8,1.9,1.8,70.8
4,10580,"Albany-Schenectady-Troy, NY",0.0,0.2,0.2,0.3,0.1,0.1,0.1,0.3,0.0,-0.2,-60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,49420,"Yakima, WA",0.4,0.7,0.1,0.1,0.2,0.4,0.6,0.2,0.3,0.1,20.0
380,49620,"York-Hanover, PA",0.1,0.3,0.2,0.3,0.4,0.3,0.4,0.4,0.5,0.3,91.1
381,49660,"Youngstown-Warren-Boardman, OH-PA",-0.2,-0.4,-0.7,-0.5,-0.5,-0.8,-0.8,-0.6,-0.6,-0.4,93.6
382,49700,"Yuba City, CA",0.1,-0.1,-0.0,0.4,0.4,0.6,0.8,1.2,0.6,1.0,67.5
383,49740,"Yuma, AZ",0.7,2.8,-0.2,-0.0,0.8,0.6,1.0,1.1,1.0,1.0,-15.5

In [27]:
population_df['Rank'] = population_df['prediction_2024'].rank(ascending=False)

population_df

,CBSA,NAME,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,prediction_2024,Rank
0,10180,"Abilene, TX",0.2,0.6,0.5,0.0,0.5,0.8,0.2,0.2,0.4,0.5,-13.9,305.0
1,10420,"Akron, OH",-0.0,0.0,-0.2,0.2,0.2,-0.1,-0.1,0.1,-0.0,-0.1,-65.5,341.0
2,10500,"Albany, GA",0.1,0.3,-0.4,-0.9,-0.5,-1.0,-0.8,-0.7,-0.2,-0.8,57.0,179.0
3,10540,"Albany-Lebanon, OR",0.2,1.1,0.1,0.1,0.5,1.0,2.1,1.8,1.9,1.8,70.8,142.0
4,10580,"Albany-Schenectady-Troy, NY",0.0,0.2,0.2,0.3,0.1,0.1,0.1,0.3,0.0,-0.2,-60.0,338.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,49420,"Yakima, WA",0.4,0.7,0.1,0.1,0.2,0.4,0.6,0.2,0.3,0.1,20.0,269.0
380,49620,"York-Hanover, PA",0.1,0.3,0.2,0.3,0.4,0.3,0.4,0.4,0.5,0.3,91.1,106.0
381,49660,"Youngstown-Warren-Boardman, OH-PA",-0.2,-0.4,-0.7,-0.5,-0.5,-0.8,-0.8,-0.6,-0.6,-0.4,93.6,101.5
382,49700,"Yuba City, CA",0.1,-0.1,-0.0,0.4,0.4,0.6,0.8,1.2,0.6,1.0,67.5,146.5
383,49740,"Yuma, AZ",0.7,2.8,-0.2,-0.0,0.8,0.6,1.0,1.1,1.0,1.0,-15.5,307.0

In [28]:
#drop columns
population_df = population_df.drop(columns = ['2010', '2011', '2012', '2013', '2014', 
                              '2015', '2016', '2017', '2018', '2019'])
population_df

      CBSA                               NAME  prediction_2024   Rank
0    10180                        Abilene, TX            -13.9  305.0
1    10420                          Akron, OH            -65.5  341.0
2    10500                         Albany, GA             57.0  179.0
3    10540                 Albany-Lebanon, OR             70.8  142.0
4    10580        Albany-Schenectady-Troy, NY            -60.0  338.0
..     ...                                ...              ...    ...
379  49420                         Yakima, WA             20.0  269.0
380  49620                   York-Hanover, PA             91.1  106.0
381  49660  Youngstown-Warren-Boardman, OH-PA             93.6  101.5
382  49700                      Yuba City, CA             67.5  146.5
383  49740                           Yuma, AZ            -15.5  307.0

[384 rows x 4 columns]