In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from imblearn.over_sampling import SMOTE
from collections import Counter
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [2]:
df = pd.read_csv('features_for_fit10.csv')
df

,MSA,Employment,GDP,Population,Unemployment
0,"Abilene, TX",10.945263,32.378757,3.910378,28.947368
1,"Akron, OH",7.761940,30.070473,0.063724,32.015000
2,"Albany, GA",7.061047,29.231972,-4.813001,25.714286
3,"Albany-Lebanon, OR",15.685181,52.685485,10.999991,28.358209
4,"Albany-Schenectady-Troy, NY",9.664928,39.598832,1.067523,31.111111
...,...,...,...,...,...
378,"Yakima, WA",14.634453,47.539475,2.709043,26.829268
379,"York-Hanover, PA",9.534342,24.927250,3.133806,29.787234
380,"Youngstown-Warren-Boardman, OH-PA",0.967322,18.783134,-5.089178,27.868852
381,"Yuba City, CA",20.879314,36.901149,5.110743,29.411765
382,"Yuma, AZ",14.261398,39.817995,8.451404,24.423963

In [3]:
print(df['Employment'].mean())
print(df['GDP'].mean())
print(df['Unemployment'].mean())

13.716340750885117
37.50540560933163
29.23073892754569

In [4]:
# Target "Emerging" and "Static" based off of top 40 population ROC
df.loc[df['Population'] > 15.6, 'Target'] = "Emerging"
df.loc[df['Population'] < 15.6, 'Target'] = "Static"
df

,MSA,Employment,GDP,Population,Unemployment,Target
0,"Abilene, TX",10.945263,32.378757,3.910378,28.947368,Static
1,"Akron, OH",7.761940,30.070473,0.063724,32.015000,Static
2,"Albany, GA",7.061047,29.231972,-4.813001,25.714286,Static
3,"Albany-Lebanon, OR",15.685181,52.685485,10.999991,28.358209,Static
4,"Albany-Schenectady-Troy, NY",9.664928,39.598832,1.067523,31.111111,Static
...,...,...,...,...,...,...
378,"Yakima, WA",14.634453,47.539475,2.709043,26.829268,Static
379,"York-Hanover, PA",9.534342,24.927250,3.133806,29.787234,Static
380,"Youngstown-Warren-Boardman, OH-PA",0.967322,18.783134,-5.089178,27.868852,Static
381,"Yuba City, CA",20.879314,36.901149,5.110743,29.411765,Static
382,"Yuma, AZ",14.261398,39.817995,8.451404,24.423963,Static

In [5]:
df.loc[df['Target']=='Emerging']

,MSA,Employment,GDP,Population,Unemployment,Target
19,"Auburn-Opelika, AL",31.334402,55.085479,16.867196,32.692308,Emerging
21,"Austin-Round Rock-Georgetown, TX",44.714842,76.983055,28.919272,23.529412,Emerging
32,"Bend, OR",41.152886,99.963782,25.326166,30.508475,Emerging
36,"Bismarck, ND",14.407954,52.376556,16.053172,19.230769,Emerging
41,"Boise City, ID",32.991115,62.718127,21.256389,30.240000,Emerging
54,"Cape Coral-Fort Myers, FL",41.614405,56.665186,24.196670,32.692308,Emerging
63,"Charleston-North Charleston, SC",33.679292,66.307795,20.177092,32.692308,Emerging
64,"Charlotte-Concord-Gastonia, NC-SC",33.285144,62.447199,17.188498,31.481481,Emerging
74,"Coeur d'Alene, ID",25.377724,52.481940,19.336973,32.250000,Emerging
84,"Crestview-Fort Walton Beach-Destin, FL",27.494426,54.519299,20.716562,32.608696,Emerging
86,"Dallas-Fort Worth-Arlington, TX",33.005682,55.810549,18.477143,29.268293,Emerging
89,"Daphne-Fairhope-Foley, AL",33.938776,53.493748,21.911180,30.909091,Emerging
95,"Denver-Aurora-Lakewood, CO",30.868012,61.239655,16.156284,27.027027,Emerging
115,"Fargo, ND-MN",20.583852,54.077661,17.516889,24.023210,Emerging
118,"Fayetteville-Springdale-Rogers, AR",31.281557,60.628233,20.936647,27.027027,Emerging
124,"Fort Collins, CO",29.636303,68.834530,18.791710,24.242424,Emerging
140,"Greeley, CO",38.303585,97.483778,27.648727,28.205128,Emerging
154,"Hilton Head Island-Bluffton, SC",26.032926,45.837311,18.329188,31.481481,Emerging
159,"Houston-The Woodlands-Sugar Land, TX",28.115980,46.806885,18.813866,30.434783,Emerging
169,"Jacksonville, FL",28.808674,49.391804,15.613159,31.481481,Emerging
181,"Kennewick-Richland, WA",18.908389,37.615873,17.245697,23.943662,Emerging
192,"Lakeland-Winter Haven, FL",26.290555,48.709931,20.174863,28.571429,Emerging
197,"Las Vegas-Henderson-Paradise, NV",32.251421,49.801347,16.087785,26.470588,Emerging
228,"Midland, TX",50.757014,170.332634,28.790476,25.714286,Emerging
242,"Myrtle Beach-Conway-North Myrtle Beach, SC-NC",28.118281,55.917868,31.336116,25.021120,Emerging
244,"Naples-Marco Island, FL",40.115572,58.568517,19.319489,30.188679,Emerging
245,"Nashville-Davidson--Murfreesboro--Franklin, TN",37.526390,67.024006,17.172321,31.111111,Emerging
251,"North Port-Sarasota-Bradenton, FL",33.493040,57.535589,19.000532,31.372549,Emerging
255,"Odessa, TX",37.150299,39.773319,21.264271,30.434783,Emerging
260,"Orlando-Kissimmee-Sanford, FL",41.646981,58.678424,21.923829,30.769231,Emerging
270,"Phoenix-Mesa-Chandler, AZ",30.616945,55.412131,17.696548,30.769231,Emerging
280,"Provo-Orem, UT",47.331447,85.549749,22.251264,24.242424,Emerging
282,"Punta Gorda, FL",26.959263,52.960597,18.161063,28.333333,Emerging
284,"Raleigh-Cary, NC",35.489362,75.898013,22.279391,31.250000,Emerging
304,"San Antonio-New Braunfels, TX",28.782435,56.189233,18.483481,28.947368,Emerging
316,"Sebastian-Vero Beach, FL",25.075769,60.085022,15.659941,26.086957,Emerging
323,"Sioux Falls, SD",20.647973,66.488599,17.081262,19.230769,Emerging
332,"St. George, UT",48.212024,94.942577,28.302105,29.268293,Emerging
344,"The Villages, FL",53.832679,81.438911,40.456946,27.272727,Emerging
374,"Wilmington, NC",27.680447,44.132528,16.360643,30.909091,Emerging

In [6]:
y = df['Target']
X = df.drop(columns=['MSA', 'Population', 'Target'])
X

     Employment        GDP  Unemployment
0     10.945263  32.378757     28.947368
1      7.761940  30.070473     32.015000
2      7.061047  29.231972     25.714286
3     15.685181  52.685485     28.358209
4      9.664928  39.598832     31.111111
..          ...        ...           ...
378   14.634453  47.539475     26.829268
379    9.534342  24.927250     29.787234
380    0.967322  18.783134     27.868852
381   20.879314  36.901149     29.411765
382   14.261398  39.817995     24.423963

[383 rows x 3 columns]

In [7]:
# split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
Counter(y_train)

Counter({'Static': 255, 'Emerging': 32})

In [8]:
# instantiate the model a fit using the training sets
model = LogisticRegression(solver='lbfgs', max_iter=50, random_state=42, class_weight={'Emerging':.5})
model.fit(X_train, y_train)

LogisticRegression(class_weight={'Emerging': 0.5}, max_iter=50, random_state=42)

In [9]:
# test the model accuracy
y_pred = model.predict(X_test)
print(accuracy_score(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

0.9375
[[ 3  5]
 [ 1 87]]
              precision    recall  f1-score   support

    Emerging       0.75      0.38      0.50         8
      Static       0.95      0.99      0.97        88

    accuracy                           0.94        96
   macro avg       0.85      0.68      0.73        96
weighted avg       0.93      0.94      0.93        96

In [10]:
# import feature set to run predictions on 2024 data
df_2024 = pd.read_csv('2024_ROC_rank_total2.csv')
df_2024.head()

,CBSA,Metropolitan_Area,2024_Pop_ROC,2024_Unem_ROC,2024_Emp_ROC,2024_GDP_ROC,Pop_ROC_Rank,Unem_ROC_Rank,Emp_ROC_Rank,GDP_ROC_Rank,Rank_Total
0,10540,"Albany-Lebanon, OR",3.9,57.291667,-1.245487,17.059092,142.0,236.5,312.0,88.0,778.5
1,12940,"Baton Rouge, LA",2.6,61.891892,7.734707,10.671246,194.5,82.0,28.0,255.0,559.5
2,16060,"Carbondale-Marion, IL",-0.8,60.731707,0.680513,3.427676,322.0,118.5,243.0,347.0,1030.5
3,21060,"Elizabethtown-Fort Knox, KY",-0.7,67.058824,2.565748,0.525464,317.5,8.5,159.0,362.0,847.0
4,22900,"Fort Smith, AR-OK",0.3,61.621622,-1.425836,4.010120,282.5,89.0,317.0,344.0,1032.5

In [11]:
print(df_2024['2024_Emp_ROC'].mean())
print(df_2024['2024_GDP_ROC'].mean())
print(df_2024['2024_Unem_ROC'].mean())

1.8355239515649782
12.498457627383488
57.3105010344605

In [12]:
df_2024.columns.tolist()

['CBSA',
 'Metropolitan_Area',
 '2024_Pop_ROC',
 '2024_Unem_ROC',
 '2024_Emp_ROC',
 '2024_GDP_ROC',
 'Pop_ROC_Rank',
 'Unem_ROC_Rank',
 'Emp_ROC_Rank',
 'GDP_ROC_Rank',
 'Rank_Total']

In [13]:
# set x2 data for logisticRegression prediction
X2 = df_2024.drop(columns=['CBSA',
 'Metropolitan_Area',
 'Pop_ROC_Rank',
 'Unem_ROC_Rank',
 '2024_Pop_ROC',
 'Emp_ROC_Rank',
 'GDP_ROC_Rank',
 'Rank_Total'])
X2.head()

   2024_Unem_ROC  2024_Emp_ROC  2024_GDP_ROC
0      57.291667     -1.245487     17.059092
1      61.891892      7.734707     10.671246
2      60.731707      0.680513      3.427676
3      67.058824      2.565748      0.525464
4      61.621622     -1.425836      4.010120

In [14]:
# reorder columns to match training data columns
X2 = X2[['2024_Emp_ROC','2024_GDP_ROC','2024_Unem_ROC']]
X2.head()

   2024_Emp_ROC  2024_GDP_ROC  2024_Unem_ROC
0     -1.245487     17.059092      57.291667
1      7.734707     10.671246      61.891892
2      0.680513      3.427676      60.731707
3      2.565748      0.525464      67.058824
4     -1.425836      4.010120      61.621622

In [15]:
# run the logisticRegression model over our 2024 data set
emerging_pred = model.predict(X2)
# added predicted classifiers back into original dataframe
df_2024['Predicted_Classifier_LR'] = emerging_pred
# dispay MSA that our ML model predicted to be emerging in 2024
df_2024.loc[df_2024['Predicted_Classifier_LR']=='Emerging']

Empty DataFrame
Columns: [CBSA, Metropolitan_Area, 2024_Pop_ROC, 2024_Unem_ROC, 2024_Emp_ROC, 2024_GDP_ROC, Pop_ROC_Rank, Unem_ROC_Rank, Emp_ROC_Rank, GDP_ROC_Rank, Rank_Total, Predicted_Classifier_LR]
Index: []

In [16]:
# use svm to predict emerging
# create SVM classifier
model_svm = SVC(kernel='linear')
model_svm.fit(X_train, y_train)
emerging_pred_svm = model_svm.predict(X2)
df_2024['Predicted_Classifier_svm'] = emerging_pred_svm
df_2024.loc[df_2024['Predicted_Classifier_svm']=='Emerging']

Empty DataFrame
Columns: [CBSA, Metropolitan_Area, 2024_Pop_ROC, 2024_Unem_ROC, 2024_Emp_ROC, 2024_GDP_ROC, Pop_ROC_Rank, Unem_ROC_Rank, Emp_ROC_Rank, GDP_ROC_Rank, Rank_Total, Predicted_Classifier_LR, Predicted_Classifier_svm]
Index: []

In [17]:
# Creating a random forest classifier
rf_model = RandomForestClassifier(n_estimators=500, random_state=42, class_weight={'Emerging':1.75})
rf_model.fit(X_train, y_train)
forest_predict = rf_model.predict(X2)
df_2024['Predicted_Classifier_RFC'] = forest_predict
df_2024.loc[df_2024['Predicted_Classifier_RFC']=='Emerging']

Empty DataFrame
Columns: [CBSA, Metropolitan_Area, 2024_Pop_ROC, 2024_Unem_ROC, 2024_Emp_ROC, 2024_GDP_ROC, Pop_ROC_Rank, Unem_ROC_Rank, Emp_ROC_Rank, GDP_ROC_Rank, Rank_Total, Predicted_Classifier_LR, Predicted_Classifier_svm, Predicted_Classifier_RFC]
Index: []

In [18]:
# Choose a learning rate and create classifier
classifier = GradientBoostingClassifier(n_estimators=20,
                                        learning_rate=0.25,
                                        max_features=3,
                                        max_depth=3,
                                        random_state=42)

# Fit the model
classifier.fit(X_train, y_train)

# Make Prediction
predictions = classifier.predict(X2)
df_2024['Predicted_Classifier_GBC'] = forest_predict
df_2024.loc[df_2024['Predicted_Classifier_GBC']=='Emerging']

Empty DataFrame
Columns: [CBSA, Metropolitan_Area, 2024_Pop_ROC, 2024_Unem_ROC, 2024_Emp_ROC, 2024_GDP_ROC, Pop_ROC_Rank, Unem_ROC_Rank, Emp_ROC_Rank, GDP_ROC_Rank, Rank_Total, Predicted_Classifier_LR, Predicted_Classifier_svm, Predicted_Classifier_RFC, Predicted_Classifier_GBC]
Index: []